<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body class="container">

        <div class="container py-5 h-100 ">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
      
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
      
                  <h2 class="mb-3 text-center">Add Task</h2>
                  <div class="d-flex justify-content-center align-items-center mb-4"> 
                    <form action="/addItem" method="POST" class="d-flex justify-content-center align-items-center mb-4">
                    <div class="form-outline flex-fill">
                      <input required name="task" placeholder="What do you need to do?" type="text" id="form3" class="form-control form-control-lg" />
                      <input required name="date" class="form-control form-control-lg" type="date">
                    </div>
                    <div class="ms-2 submit-btn">
                      <input type="submit" class="btn submit-btn btn-primary btn-lg"></input>
                    </div>
                  </form></div>
                 
      
                  <ul class="list-group mb-0 tasks">
                    <% for(let i=0; i < info.length; i++) {%>
                    <li
                      class="task list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                      <div class="d-flex justify-content-start">
                      <span class=" d-block oneTask">
                        <%= info[i].task %> 
                      </span>
                      <span class="ms-4 d-block">
                        <%= info[i].date %>
                      </span></div>
                      <div >                      
                        <span id="button" role="button" class="fas fa-times text-primary" ></span>
                      </div>
                    </li>
                    <% } %>
                  </ul>
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      























        <!-- <div class="container py-5 h-100">
          <h1 class="text-center my-4">To Do List</h1>

          <div>
            <form action="/addItem" method="POST">
              <label for="task"
                >Task:
                <input
                  required
                  id="task"
                  type="text"
                  placeholder="Task"
                  name="task"
              /></label>
              <label for="date"
                >Due Date:
                <input
                  required
                  id="date"
                  type="date"
                  placeholder="Date"
                  name="date"
              /></label>
              <div class="m-auto">
                <input class="display:block" id="button" type="submit" />
              </div>
            </form>
          </div>
          <div class="border">
            <h2 class="text-center">Tasks</h2>
            <p>
              You have <%=info.length%> thing<%=info.length===1?' ':"s "%>to do.
            </p>
            <ul class="tasks">
              <% for(let i=0; i < info.length; i++) {%>
              <li class="task">
                <span class="oneTask"><%= info[i].task %></span>
                <span><%= info[i].date %></span>

                <span class="fa fa-trash"></span>
              </li>
              <% } %>
            </ul>
          </div>
        </div> -->
        <script src="js/main.js"></script>
      </body>
    </html>
  </body>
</html>
